* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}


.hero-header {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #222;
}

.wrapper {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;    
}

.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo i {
    height: 45px;
    width: 45px;
    background-color: #007ced;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}

.logo .logo-text {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

nav .togglebtn {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}

nav .togglebtn span {
    display: block;
    background-color: #007ced;
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}


.navlinks  {
    display: inline-block;
    word-spacing: 20px;
    color: #e5e5e5;
}



.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}

.container .hero-pic {
    width: 300px;
    height: 300px;
    border-radius: 5%;
    overflow: hidden;
    border: 15px solid #cfcfcd;
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5);
}


.hero-pic img {
    height: 115%;
    width: 100%;
    transition: 0.5s;
}


.hero-pic img:hover {
    transform: scale(0.77);
}

/* texto duelista */
.container .duelista {
    width: 20px;
}


.hero-text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}


.hero-text h5 {
    color: #e5e5e5;
    font-size: 14px;

}.hero-text h5 span{
    color: #007ced;
    font-size: 16px;
}

.hero-text h1 {
    color: #007ced;
    font-size: 3rem;
}

.hero-text p {
    color: #e5e5e5;
}

.btn-group {
    margin: 45px 0;
}

.btn-group .btn {
    border-color: #d5d5d5;
    color: #fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 180px;
    border: 5px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
}

.btn.active {
    border-color: #007ced;
}


/* section habilidades */

/* .pulo-jett{
    display: flex;
    justify-content: right;
    padding-right: 40px;
    padding-bottom: 40px;
    
} */

.habilidades {
    display: grid;
    background-color: #1a1c1d;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
}


.habilidades .container-text {
    color: #d5d5d5;
    padding-top: 40px;
    padding-left: 60px;
}

.habilidades .container-text h2 {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding: 25px 0;
}

.habilidades video {
    width: 620px;
    padding-bottom: 20px;
    padding-top: 10px;
    box-shadow: 0 0 20px rgba(19, 140, 177, 0.5); /* Adiciona um contorno 3D */
    margin-top: 20px; /* Adiciona margem superior para afastar o vídeo de cima */
    margin-bottom: 20px; /* Adiciona margem inferior para afastar o vídeo da seção */
}



/* button  */
.container-text {
    margin-right: 80px; /* Adicione margem à direita para afastar os botões um pouco para a direita */
}

.container-text button {
    border: 2px solid #007ced;
    padding: 0;
    margin: 0 8px; /* Adicione margem para criar espaço entre os botões */
    width: 50px;
    display: inline-block;
    text-align: center;
    background: linear-gradient(to bottom right, gray, #333);
    background-size: 200% 200%;
    transition: background-position 0.3s ease, border 0.3s ease;
    color: #fff;
    cursor: pointer;
}

.container-text button:last-child {
    margin-right: 0;
}

.container-text button img {
    max-width: 100%;
    height: 42px;
}

.container-text button:hover {
    background-position: 100% 100%;
    border: 2px solid #007ced;
}

.habilidades .text-habilidades {
    font-size: 1rem;
    padding-top: 20px;
    padding-left: 10px;
}





/* agradecimentos */

/* .agradecimentos {

} */ 


.agradecimentos {
    font-size: 0.825rem;
    background-color: #313335;

}


.agradecimentos p{
    font-size: 0.8rem;
    padding-top: 20px;
}

.ult-sec {
    background-color: #1c1f20;
    display: flex;
    flex-direction: column;
}



.icons {
    text-align: right; 

}

.fa-brands {
    font-size: 24px; /* Aumenta o tamanho dos ícones para 24 pixels */
    margin-right: 10px; /* Adiciona um espaço à direita dos ícones */
}



